* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img, svg, iframe {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #AD8CEA;
    height: 8vh;
    width: 100%;
    place-items: center;

    >#header_logo {
        justify-self: start;
        margin-left: 10%;
        color: white;
    }

    >#header_links {
        >a {
            margin-right: 20px;
            text-decoration: none;
            color: white;
        }
    }
}

main {
    display: grid;
    place-items: center;
    height: 50%;

    >#main_div_button{
        margin-top: 20px;

        >#random_recipe_button {
            border: none;
            background-image: linear-gradient(45deg, #AD8CEA, #50DFB2);
            border-radius: 5px;
            width: 150px;
            height: 40px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.1rem;
        }

        >#random_recipe_button:active {
            transform: scale(.9);
        }
    }
    
    >#recipe_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        
        >#main_section_recipe {
            display: grid;

            >#main_div_recipe_description {
                text-align: center;
                margin: 60px;

                >.gray_text {
                    color: rgb(186, 186, 186);
                }

                >#description {
                    font-size: .9rem;
                    line-height: 21px;
                }

                >p {
                    margin-top: 10px;
                }
            }
        }

        
        >img {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
            height: 60%;
            }
    }

    h1 {
        margin-bottom: 50px;
        transform: translateY(-130%);
    }
}

footer {
    background: #50DFB2;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    display: grid;
    place-items: center;
    color: white;
}