* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img, svg, iframe {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #AD8CEA;
    height: 8vh;
    width: 100%;
    place-items: center;

    >#header_logo {
        justify-self: start;
        margin-left: 10%;
        color: white;
    }

    >#header_links {
        >a {
            margin-right: 20px;
            text-decoration: none;
            color: white;
        }
    }
}

main {
    display: grid;
    place-items: center;
    width: 100%;
    row-gap: 25px;
    margin: 25px 0;

    >#categories_button_section_one {
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;

        >button {
            border: none;
            background: #50DFB2;
            border-radius: 5px;
            width: 125px;
            height: 35px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.1rem;
            justify-self: center;
        }

        >button:active {
            transform: scale(.9);
        }
    }

    >#categories_button_section_two {
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;

        >button {
            border: none;
            background: #50DFB2;
            border-radius: 5px;
            width: 125px;
            height: 35px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.1rem;
            justify-self: center;
        }

        >button:active {
            transform: scale(.9);
        }
    }


    >#chosen_category {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        column-gap: 60px;
        row-gap: 20px;
        place-items: center;

        >.recipes_card {
            display: grid;
            row-gap: 5px;
            width: 100%;
            box-shadow: 8px 8px 16px rgb(235, 235, 235);
            >a {
                color: black;
                justify-self: center;
                text-align: center;
            }

            >img {
                object-fit: cover;
                border-radius: 5px;
            }
        }

        >#chosen_recipe {
            display: grid;
            row-gap: 5px;
            width: 60%;
            box-shadow: 8px 8px 16px rgb(241, 241, 241);
            text-align: center;
            place-items: center;
            row-gap: 10px;
            border-radius: 20px;

            >img {
                width: 400px;
                object-fit: cover;
                margin-bottom: 30px;
                border-radius: 5px;
            }

            >p {
                margin: 0 10% 20px;
            }
        }
    }
}

footer {
    background: #50DFB2;
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    display: grid;
    place-items: center;
    color: white;
}